footer {font-size: small;
	margin-top: 40;
	text-align: center;
	}
nav	{text-align: center;
	font-size: large;
	font-style: italic;
	}
p.interest{color: blue;
	   margin-left: 20px;
    	   border-left: 1px dotted navy;
           padding-left: 15px;
	   text-align: justify;
	}